html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: #444;
}

body {
    background: #586c81b6;
    max-width: fit-content;
    margin: 0;
    padding: 0;
}

#GoogleMap {
    max-width: fit-content;
    margin: 0;
    padding: 0;
}